<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6">
			<br />
			<p>Please perform search. If no results are found, you can then create a New Customer Request</p>
		</div>
	</div>		
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading" role="heading"><span class="wf2-panel-header">Favorite Customers</span></div>
				<div class="panel-body">
					<div class="blackBGHeader">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Search</th>
									<th>Name</th>
									<th>Last Used</th>
									<th>Times Used</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><button class="btn btn-primary col-sm-12"><span class="glyphicon glyphicon-search"></span></button></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading" role="heading"><span class="wf2-panel-header">Search WICE for previously submitted requests</span></div>

				<div class="panel-body">
	
								<label class="control-label">Customer Name</label>
								<input class="form-control" type="text" />

								<label class="control-label">Tax ID</label>
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input class="form-control" type="text" />
								</div>
								<label class="control-label">CEO Company ID</label>
								<input class="form-control" type="text" />
								<label class="control-label">Hogan Account Number</label>
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input class="form-control" type="text" />
								</div>
								<label class="control-label">Hogan Family Number</label>
								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input class="form-control" type="text" />
								</div>
								<br/>
							  <button class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>

				 </div>
			</div>			
		</div>
	</div>
</div>